<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 작성</h1>
<form action="/board-write" method="post">
    <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" class="form-control" th:value="${board.writer}" name="writer" id="writer" readonly="readonly">
        <br>
        <label for="context">Title</label>
        <textarea class="form-control" id="context" name="context" th:value="${board.context}"></textarea>
    </div>
    <button class="w-40 btn btn-lg btn-primary" type="submit">수정하기</button>
</form>
</body>
</html>